.GameHeaderImage{

    background-image: url("../assets/filler_game_image.jpg");
    background-size: cover;
    background-position: 50%;

    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: white;

}

main{

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

}

.AboutGame{

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    margin: 1em;
    padding: 1em;

    flex-wrap: nowrap;

}

.AboutGameImg{

    width: 200px;
    height: 300px;

}

.Description{

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    max-width: 20%;

}

.Gallery{
    background-color:rgb(35, 38, 41);

    padding: 2em;


}

.GameScreenshots{

    display: grid;
    grid-template-columns: 47% 47%;

    justify-content: center;
    align-items: center;
    

}

.Screenshot{

    margin: 0;
    padding: 0;
    display: block;
    max-width: 100%;
    height: auto;

    border: 1px solid rgb(31, 31, 31);
    border-bottom: none;
    align-self: center;

}

#GameScreenshotsTitle{
    color: white;
    text-align: center;
}