@font-face{
    font-family: "Lato-Medium";
    src: url("../fonts/Lato-Medium.eot");
    src: url("../fonts/Lato-Medium.woff") format("woff");
}

* {
    font-family: "Lato-Medium", Arial;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.NavFiller{
    width: 100%;
    height: 90px;
}

header{
    height: 900px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-weight: normal;
    font-style: normal;
    color: #ffffff;

    text-shadow: rgba(0,0,0,0.2) 0px 2px;

}

.HomeHeroImage{
    background-image: url("../assets/FillerSnailHeroImage.jpg");
    background-size: cover;
    background-position: 50%;
}

.Navigation{
    
    position: fixed;

    background-color: rgba(255, 255, 255, 1);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 5px 10px 10px rgba(0,0,0, 0.2);

}

.Navigation ul {

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-self: space-around;
    list-style: none;

    width: 100%;

    overflow: hidden;

    transition: max-height 0.5s;

}

.NavItem{
    
    padding: 10px;

    background-color: white;
    width: 100%;

    text-align: center;
    
    
}

.HamburgerBtn{

    background-color: white;
    width: 100%;

    border: none;
    padding: 1em;

    text-align: center;

}

.HamburgerBtn:hover{
    background-color: rgb(221, 221, 221);
}

.HamburgerBtn:active{
    background-color: rgb(209, 209, 209);
}

.Navigation > ul> li > a{
    
    color: rgba(0,0,0,0.8);

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    transition: font-size 0.5s, color 0.5s;
}

.Navigation > ul> li > a:hover{
    
    color: rgba(68, 68, 68, 0.8);

    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
}

.game{
    background-color: red;
}

.GameShowcase{

    display: flex;
    flex-direction: column;
    

}

.GameCard{

    display: flex;
    align-items: center;

    height: auto;
    min-height: 500px;
    padding: 5% 10% 5% 10%;
    
    border-top: 0.5px solid rgba(255, 255, 255, 0.9);
    justify-content: space-evenly;

    background-image: url("../assets/grassland_bg.png");
    background-size: cover;

}

.GameCardContent{

    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    justify-content: space-evenly;

    padding: 10px;

}

.GameArt{

    display: flex;
    align-items: center;

    background-color: rgba(0,0,0,0.3);
    margin: 1em;

}

.GameArt > a {
    display: flex;
    align-items: center;
}

.GameArt > a > img{

    width: 100%;
    height: auto;

}

.GameDesc{

    width: 100%;
    height: auto;
    

    background-color:rgba(0, 0, 0, 0.4);
    font-size: large;
    color: white;

    border-radius: 2px;
    box-shadow: 0px 5px rgba(0,0,0,0.4);

    margin: 1em;
    padding: 1em;

}

hr{
    border: 5px solid rgba(255, 255, 255, 1);
}

.hide{
    display: none;
}

footer{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    padding: 2em 7em;

    background-color: white;
    color: black;
}

.FooterInfo{
    line-height: 2px;
}

.SocialMediaLinks{

    display: flex;
    flex-direction: row;

    width: 30%;

    justify-content: space-around;
    align-items: center;

    flex-shrink: 1;
    flex-grow: 1;

}

.SocialMediaIcon{

    width: 3em;
    height: 3em;

    padding: 1em;

}